<div class="navbar-inner" data-ng-controller="HeaderController">
    <ul class="nav">
        <li>
            <a class="brand" href="/">POUSTIS Romain</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li data-ng-show="global.authenticated"><a href="/signout">Signout</a></li>
    </ul>
</div>
