<div class="modal-header">
    <h3>Identification</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" action="/users/session" method="post">
        <div class="control-group">
            <label class="control-label" for="email">Email</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <button class="btn btn-primary" type="submit">OK</button>
            <a href="/" class="btn btn-warning" >Cancel</a>
        </div>
    </form>
</div>