/* --------------------------- */
/*          Common
/* --------------------------- */
body {
    margin: 0;
    padding: 0;
    background: url(/img/bg.jpg) no-repeat center center fixed; 
    background-size: cover
}

.navbar .nav>li>a.brand {
    padding-left: 20px;
    margin-left: 0
}

.content {
    color: white;
    margin-top: 50px;
    width: 100%
}

/* --------------------------- */
/*        formReal.html
/* --------------------------- */
.thumbnails img {
    width: 200px;
    padding: 5px;
}

.thumbnails-anim img {
    -moz-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    left: 20px;
    position: relative;
    opacity: 0.2;
}

/* --------------------------- */
/*        index.html
/* --------------------------- */
/*input-prepend fait dépasser le champs de 27px*/
.input-block-with-prepend {
    padding-right: 27px
}

/*margin-bottom +5 pour le textarea*/
.margin-textarea {
    margin-bottom: 15px
}

/*colones contact*/
.row-fluid {
    margin-bottom: 30px
}

/*rectangle transarent contact*/
.bgcontact {
    background-color: rgba(84,84,84,0.2);
    margin-top: 5px;
    width: 440px;
    height: 225px;
    border-radius:10px;
}

.contact {
    text-shadow: 1px 1px 3px black;
    margin-top: 25px;
    line-height: 5px;
    text-align: center
}

.social {
    margin-left: auto;
    margin-right: auto;
    width: 21em;
    padding-bottom: 100px;
}

.bounce {
    -moz-transition: top 1s;
    -o-transition: top 1s;
    -webkit-transition: top 1s;
    transition: top 1s;
    top: -10px;
    position: relative;
}

.email {
    text-transform: uppercase
}

a:hover {
    text-decoration: none;
    color: #00b3ee;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #ddd;
    -webkit-box-shadow: 0 8px 6px 6px black;
    -moz-box-shadow: 0 8px 6px 6px black;
    box-shadow: 0 8px 6px 6px black
}

footer p {
    padding: 5px 0 12px 10px
}

.imgSlide img {
    margin: auto;
    height: 600px;
}
