body {
    margin:0;
    padding:0;
    background: url(/img/bg.jpg) no-repeat center center fixed; 
    background-size: cover
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    color: white;
    margin-top:50px;
    width:100%
}
/*input-prepend fait dépasser le champs de 27px*/
.input-block-with-prepend {
    padding-right: 27px
}

/*margin-bottom +5 pour le textarea*/
.margin-textarea {
    margin-bottom : 15px
}

.row-fluid {
    margin-bottom : 30px
}

.social {
    padding-bottom : 100px
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}