<section data-ng-controller="DetailRealisationController" data-ng-init="find()">
    <table class="table table-bordered table table-condensed">
        <thead>
            <tr class="tableTitle alert alert-info">
                <th>Titre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr data-ng-repeat="real in realisations">
            <td>
                {{real.name}}
            </td>
            <td class="span2">
                <a data-ng-click="destroyById(real.id)">Effacer</a> - 
                <a href="#!/realisations/edit/{{real.id}}">Modifier</a>
            </td>
        </tr>
    </table>
    <h1 data-ng-hide="!realisations || realisations.length">Aucune réalisation !</h1>
</section>